@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title-text {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tilt Warp", cursive;
  color: black;
  font-size: 40px;
}

.title-text-blue {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tilt Warp", cursive;
  color: blue;
  font-size: 40px;
}

.intro {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 1%;
  padding: 2%;
  border-radius: 15px;
}
.divider {
  height: 20px;
}

.cta {
  background-color: blue;
  color: white;
  margin: 1%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  height: 50px;
}

.small-text {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 20px;
  margin: auto;
  transition: 2s;
}
.small-text:hover {
  margin-left: 10px;
  transition: 2s smooth;
}

table {
  width: 100%;
}