<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Inventory</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="intro">
  <span class="title-text-blue">Inventory</span> <span class="title-text"> makes organisation easy.</span>
  <div class="divider"></div>
 <button class="cta"><p class="small-text">Try it now. &#8594;</p></button>
 <button class="cta"><p class="small-text">Watch the video. &#8594;</p></button>
</div>

<div class="intro">
  <span class="title-text">How </span><span class="title-text-blue">Inventory</span> <span class="title-text"> Works</span>
  <div class="divider"></div>
  
 <button class="cta"><p class="small-text">See it in action. <span>&#8594;</span></p></button>
</div>

<div class="intro">
  <span class="title-text-blue">Inventory </span> <span class="title-text">is developped jointly by []</span>
  <div class="divider"></div>
  
 <button class="cta"><p class="small-text">See their works here. &#8594;</p></button>
</div>
<div class="divider"></div>