<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="active">Home</mat-list-item>
      <mat-list-item routerLink="/products" routerLinkActive="active">Products</mat-list-item>
      <mat-list-item routerLink="/offers" routerLinkActive="active">Offers</mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Inventory</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
